<div class="index">
    <h1 class="text-center index_home">Welcome to ABC Parking</h1> 
    <p class="text-center p_home">Click here to Login</p>
    <div class="login">
      <h3><%= link_to "Login", home_login_path, class: "link" %></h3>
    </div>
    
    <h1 class="text-center index_home">24/7 Available Parking</h1> 
</div>
