<div class="index">
    <h1 class="text-center">Welcome to ABC Parking</h1> 
    <p class="text-center">Click here to Login</p>
    <div class="login">
      <h3><%= link_to "Login", home_login_path %></h3>
    </div>
    
    <h1 class="text-center">24/7 Available Parking</h1> 
</div>
